.navbar {
  position: fixed !important;
  z-index: 100;
  top: 0;
  background-color: white;
  width: calc(100vw - 250px);
  margin-left: 250px;
  padding: 0 !important;
  border-bottom: 1px solid rgba(211, 211, 211, 0.789);
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
}
.navbar-menuBtn {
  display: none;
}
.navbar > .navDet {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.navDet > .notification {
  transition: all 0.2s ease-in-out;
  color: rgb(57, 57, 57);
}
.navDet > .notification:hover {
  margin-top: -5px;
}
.navbar > .navDet > .title {
  margin: 0;
  padding: 15px;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(57, 57, 57);
}
@media screen and (max-width: 768px) {
  .navbar {
    position: fixed !important;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: white;
    width: calc(100vw);
    margin-left: 0;
    padding: 0 !important;
    border-bottom: 1px solid rgba(211, 211, 211, 0.789);
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
  }
}
