.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  transition: all 0.2s ease-in-out;
}
.sidebarDiv {
  z-index: 100;
  overflow: auto;
  width: 250px;
  height: 100vh;
  background-color: rgba(253, 231, 231, 0.802);
}

.user {
  padding: 10px;
  margin: 5px;
  /* background-color: grey; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
/* place */
.place {
  margin: 10px;
}
.place > .placeLabel {
  margin-left: 10px;
  font-weight: 400;
}
.place > .placeDiv {
  position: relative;
  margin-right: 5px;
  padding: 12px;
  width: 94%;
  left: 3%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(233, 224, 224, 0.496);
  border-radius: 5px;
  box-shadow: 0 0px 3px lightgrey;
}

/* user details */
.user > .userDet {
  display: flex;
  align-items: center;
}
.user > .userDet > .userImg {
  width: 40px;
  height: 40px;
}
.userandplace {
  margin-left: 5px;
}
.userandplace > p {
  margin: 0;
  max-width: 155px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.userName {
  overflow: hidden;
  font-size: 1.1rem;
  font-weight: 500;
}
.placeName {
  padding-top: 4px;
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.8;
}
.user > .userMore {
  transition: all 0.3s;
}
.user:hover > .userMore {
  margin-top: -7px;
}
/* menue */
.menu {
  padding: 5px 10px 15px;
  margin-bottom: 0;
}
.menu > .inventoryLabel {
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: 500;
  opacity: 0.85;
}
.menu > .menu-item {
  padding: 9px;
  margin: 1px;
  font-weight: 500;
  /* transition: all 0.3s ease-in-out; */
  border-radius: 5px;
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  justify-content: flex-start;
  color: rgb(57, 57, 57);
  cursor: pointer;
}
.menu > .menu-item:hover {
  background-color: rgb(223, 223, 223);
}
.menu > .active {
  background-color: rgb(223, 223, 223);
}
.menu-item > p {
  margin: 0;
  padding: 0;
  margin-left: 7px;
}
/* foot */
.foot {
  /* background-color:grey; */
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 15px;
}

.foot > .signout {
  text-align: center;
  cursor: pointer;
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.signout:hover {
  background-color: rgb(223, 223, 223);
}
.signout > p {
  margin: 0;
  padding: 0;
  font-family: 600;
  font-size: 0.96rem;
  margin-left: 5px;
}
.backDrop {
  display: none;
}
.overlay {
  display: none;
}
@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    transition: all 0.2s ease-in-out;
  }
  .sidebar-open {
    left: 0;
  }
  .sidebarDiv {
    z-index: 300;
    overflow: auto;
    width: 250px;
    height: 100vh;
    background-color: rgb(255, 243, 243);
  }
  .overlay {
    display: initial;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.102);
    z-index: -1;
  }
}
