.map-assign {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.map-data {
  width: 68%;
}
.assign {
  position: relative;
  width: 32%;
}
.desDiv {
  position: relative;
  overflow: auto;
  max-height: 1305px;
}
.desDiv::-webkit-scrollbar {
  width: 5px;
}
.desDiv::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(214, 214, 214);
  border-radius: 10px;
}
.desDiv::-webkit-scrollbar-thumb {
  background: rgb(198, 198, 198);
  border-radius: 10px;
}
.assign-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.assign-title {
  text-align: right;
  padding: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 10px;
}

.assign-date {
  padding: 6px;
  border: none;
  border-bottom: 3px solid rgba(153, 115, 218, 0.585);
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  color: rgba(30, 30, 30, 0.585);
  background-color: white;
}
.assign-date:focus {
  border-bottom: 3px solid rgb(150, 56, 238);
  outline: none;
}
.assign-date-slot {
  position: absolute;
  top: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.PrivateSwitchBase-root-14 {
  padding: 0 3px 3px 9px !important;
}
.selectedOrderLabel {
  padding: 5px;
  padding-bottom: 0;
  margin: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.selectedOrder {
  padding: 5px;
  padding-bottom: 0;
  overflow: hidden;
  max-height: 135px;
  overflow: auto;
  margin: 5px;
  font-size: 1rem;
  /* opacity: 0.6; */
}
.selectOrderDelBtn:hover {
  transform: scale(1.1);
}
.selectedOrder > p {
  text-overflow: ellipsis;
}
.deCard {
  padding: 5px;
  padding-bottom: 0;
  margin: 5px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deCardDet {
  display: flex;
  align-items: center;
}
.deCardName {
  margin: 0;
  padding: 5px;
  letter-spacing: 0.6px;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.299);
  display: flex;
  justify-content: center;
  align-items: center;
}
.productPic {
  width: 100%;
  border: 2px solid rgb(221, 209, 209);
  border-radius: 5px;
  height: 162px;
  width: 222px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}
.productPic > label {
  position: relative;
  width: 100%;
  height: 100%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bannerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.imageUpload {
  position: absolute !important;
  bottom: 0 !important;
  right: 0;
  transition: all 0.1s;
}
.imageUpload:hover {
  background-color: rgb(226, 226, 226) !important;
}
