.bannerPic {
  width: 100%;
  border: 2px solid rgb(221, 209, 209);
  border-radius: 5px;
  height: 170px;
  width: 400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}
.bannerPic > label {
  position: relative;
  width: 100%;
  height: 100%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bannerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.imageUpload {
  position: absolute !important;
  bottom: 0 !important;
  right: 0;
  transition: all 0.1s;
}
.imageUpload:hover {
  background-color: rgb(226, 226, 226) !important;
}
.date {
  margin-top: 10px !important;
}
.bannerTableImage {
  position: relative;
}
.bannerActions {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  visibility: hidden;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.381);
  top: 0;
  left: 0;
  z-index: 100;
}
.bannerActionIcon {
  color: rgb(44, 44, 44);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100%;
}
.bannerActionIcon:hover {
  color: rgb(44, 44, 44);

  background-color: rgb(213, 213, 213);
}

.bannerTableImage:hover .bannerActions {
  visibility: visible;
}
