.zones {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.zone-map {
  position: relative;
  width: 100%;
  height: 100% !important;
}

.in-map-form {
  position: absolute;
  right: 0;
  background-color: white;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  max-height: 100%;
  overflow: auto;
}
.zonesCoord {
  max-height: 195px;
  overflow: auto;
}

.submitBtn {
  padding-top: 10px;
  margin-left: 15px;
}
.activeDeDropDown {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: auto;
  box-shadow: 0 1px 5px lightgrey;
}
.addedDes {
  padding: 5px;
  max-height: 100px;
  overflow: auto;
  display: flex;
}
.addedDe {
  padding: 3px;
}
.selectedZone {
  background-color: white;
  border-radius: 5px;
}
.selectedZone:hover {
  background-color: lightgrey;
}
.active {
  background-color: lightgrey;
}
